@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-bg);
  --color-card: var(--color-card);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-border: var(--color-border);
}

:root {
  --color-primary: #1E348A;
  --color-secondary: #C9A227;
  --color-accent: #93C5FD;

  --color-bg: #F8F9F4; 
  --color-card: #FFFFFF;

  --color-text-primary: #1F2957;
  --color-text-secondary: #1E348A;
  --color-muted: #64748B;

  --color-border: #CBD5E1;
}


.dark {
  --color-primary: #93C5FD;
  --color-secondary: #C9A227;
  --color-accent: #FAF996;

  --color-bg: #1F2957;
  --color-card: #1E348A;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #93C5FD;
  --color-muted: #94A3B8;

  --color-border: #334155;
}



body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}
